In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('50_Startups.csv')

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data = pd.get_dummies(data,drop_first=True)

In [5]:
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [8]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [9]:
X = data[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]

In [10]:
y = data['Profit']

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [12]:
model = LinearRegression()

In [13]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
model.intercept_

56497.942108443094

In [15]:
model.coef_

array([ 8.10782371e-01, -8.99234656e-02,  2.99416290e-02,  2.75352079e+02,
       -3.37277505e+02])

In [20]:
pred = model.predict([X_test.iloc[0]])

In [21]:
actual = y_test.iloc[0]

In [22]:
error = abs(pred - actual)

In [23]:
error

array([7842.58645458])

In [30]:
percentage_error = error[0]/actual * 100

In [31]:
percentage_error

5.839283147629719