In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('marks.csv')

In [3]:
data

    name  college id  duration  marks  time before college  caff  semester
0   abhi           1         2     40                   10   100         1
1   eric           1         4     50                   20   200         2
2   jack           1         2      5                    5   400         3
3   amit           1         2     50                   10    10         1
4  krish           1         4     60                   20   100         2

In [4]:
data = data.drop(columns=['name','semester'])

In [5]:
data

   college id  duration  marks  time before college  caff
0           1         2     40                   10   100
1           1         4     50                   20   200
2           1         2      5                    5   400
3           1         2     50                   10    10
4           1         4     60                   20   100

In [6]:
dcorr = data.corr()

In [7]:
dcorr

,college id,duration,marks,time before college,caff
college id,NaN,NaN,NaN,NaN,NaN
duration,NaN,1.000000,0.599145,0.952579,-0.073488
marks,NaN,0.599145,1.000000,0.803685,-0.842077
time before college,NaN,0.952579,0.803685,1.000000,-0.357518
caff,NaN,-0.073488,-0.842077,-0.357518,1.000000

In [8]:
data.columns

Index(['college id', 'duration', 'marks', 'time before college', 'caff'], dtype='object')

In [9]:
X = data[['college id', 'duration','time before college', 'caff']]

In [10]:
y = data['marks']

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()

In [14]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
weights = model.coef_

In [16]:
weights # from here we can say that college id is not a required feature

array([ 0.        ,  6.20165746,  0.75690608, -0.10497238])

In [17]:
#Lasso method for feature selection
from sklearn.linear_model import Lasso

In [18]:
from sklearn.feature_selection import SelectFromModel

In [19]:
select = SelectFromModel(Lasso(alpha=0.01))

In [23]:
select.fit(X,y)

SelectFromModel(estimator=Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
        norm_order=1, prefit=False, threshold=None)

In [24]:
select.get_support() # form here it is also clear that first feature is not a required feature

array([False,  True,  True,  True])

In [25]:
select.estimator_.coef_

array([ 0.        ,  5.45884674,  0.88540955, -0.10330546])