In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('SalaryData.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [4]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
dataset.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [21]:
X = dataset['YearsExperience']

In [22]:
y = dataset['Salary']

In [26]:
X = X.values.reshape(30,1)

In [27]:
X.shape

(30, 1)

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model = LinearRegression()

In [32]:
model.fit(X_train,y_train)

LinearRegression()

In [33]:
y_pred = model.predict(X_test)

In [34]:
y_pred

array([115790.21011287,  71498.27809463, 102596.86866063,  75267.80422384,
        55477.79204548,  60189.69970699])

In [35]:
y_test

27    112635.0
15     67938.0
23    113812.0
17     83088.0
8      64445.0
9      57189.0
Name: Salary, dtype: float64

In [39]:
mean_absolute_percentage_error = np.mean(abs(y_test-y_pred)/y_test)

In [55]:
mean_absolute_percentage_error

0.07744880046205216

In [54]:
100 - mean_absolute_percentage_error * 100

92.25511995379479

In [53]:
abs(y_test.iloc[4] - y_pred[4])/y_test.iloc[4] * 100

13.9145130801832

In [56]:
import joblib

In [58]:
joblib.dump(model,'predict_salary.pk1')

['predict_salary.pk1']